<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Doping in Professional Bicycle Racing</title>
   <link rel="stylesheet" href="../public/style.css">
   <script src="../src/index.js" defer></script>
   <script src="https://d3js.org/d3.v5.min.js"></script>
   <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js" defer async></script>
</head>

<body>
   <header>
      <h1 id="title">Doping in professional bicycle racing</h1>
      <p>35 fastest times up Alpe d'Huez</p>
   </header>
   <main>
      <div id="tooltip"></div>
      <div id="legend"></div>
      <div id="scatter-plot"></div>
   </main>
   <footer>
      <h2>Made with ❤️❤️❤️ by <a href="http://github.com/padunk" target="_blank" rel="noopener noreferrer" class="footer_link">Abraham Anak Agung</a></h2>
   </footer>
</body>

</html>