<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>My great app</title>
   <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Titillium+Web" rel="stylesheet">
   <link rel="stylesheet" href="../public/style.css">
   <script src="https://d3js.org/d3.v5.min.js"></script>
   <script src="../src/index.js" defer></script>
   <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js" defer async></script>
</head>

<body>
   <main>
      <header>
         <h1 id='title'>USA GDP Bar Chart</h1>
         <p>1947 - 2015</p>
      </header>
      <section class="chart-section">
         <div id='chart-bg'></div>
         <div id='chart'></div>
      </section>
      <footer>
         <h4>Made by | <a href='https://github.com/padunk' target="_blank" rel="noreferrer noopener">Abraham Anak
               Agung</a> |</h4>
      </footer>
   </main>
</body>

</html>