@namespace svg url(http://www.w3.org/2000/svg);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}
input {
    font-family: inherit;
}
ul,
ol,
dd {
    list-style: none;
}
cite {
    font-style: normal;
}
html {
    font-size: 62.5%; /*for using REM units*/
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.6px;
    background-color: rgb(20, 30, 40);
    color: hsl(199, 98%, 48%);
}

main {
    position: relative;
}

header,
footer {
    text-align: center;
    margin-bottom: 3rem;
}

.footer_link:link {
    color: linen;
}

.footer_link:visited {
    color: rgba(0, 120, 150, 0.6);
}

.footer_link:hover {
    color: orangered;
}

#tooltip {
    position: absolute;
    opacity: 0;
    background-color: hsla(210, 12%, 27%, 0.4);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    white-space: pre-wrap;
    width: 250px;
    padding: 1rem 2rem;
    color: linen;
    border-radius: 10px;
    z-index: 10;
}

#legend {
    position: absolute;
    top: 10rem;
    right: 5rem;
    background-color: rgba(0, 120, 150, 0.6);
    padding: 1.8rem 3rem;
    box-shadow: 0 0 10px 2px;
}

svg|a:hover {
    outline: 1px dotted white;
    outline-offset: 2px;
}

.riders-name {
    font-weight: bold;
}

.riders-allegations {
    color: rgb(250, 117, 117);
}
